body {
  margin: 0;
  background: linear-gradient(135deg, #1e1e1f, #291b41);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
}

#card-container {
  position: relative;
  width: 340px;
}

.card {
  position: absolute;
  width: 100%;
  background: #171717;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);

  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.4s ease, transform 0.4s ease;

  pointer-events: none;
}

.card.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

h2 {
  color: #ddd;
  text-align: center;
  margin-bottom: 10px;
}

.sub {
  color: #9ca3af;
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1f2933;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  background: #e9e2e2;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: black;
  color: white;
}

.alt {
  text-align: center;
  font-size: 13px;
  color: #9ca3af;
}

.alt a {
  color: #c0a5ff;
  text-decoration: none;
}
