* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'space Grotesk', 'Segoe UI', Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #1e1e1f, #291b41);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin-top: 40px;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* the flower effect
*/
.btn {
  height: 4em;
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0px solid black;
  cursor: pointer;

}

.wrapper {
  height: 2em;
  width: 8.5em;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}

.text {
  font-size: 24px;
  z-index: 1;
  color: #000;
  padding: 4px 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease;
  font-family: 'Lobster', sans-serif;

}

.flower {
  display: grid;
  grid-template-columns: 1em 1em;
  position: absolute;
  transition: grid-template-columns 0.8s ease;
}

.flower1 {
  top: -12px;
  left: -13px;
  transform: rotate(5deg);
}

.flower2 {
  bottom: -5px;
  left: 8px;
  transform: rotate(35deg);
}

.flower3 {
  bottom: -15px;
  transform: rotate(0deg);
}

.flower4 {
  top: -14px;
  transform: rotate(15deg);
}

.flower5 {
  right: 11px;
  top: -3px;
  transform: rotate(25deg);
}

.flower6 {
  right: -15px;
  bottom: -15px;
  transform: rotate(30deg);
}

.petal {
  height: 1em;
  width: 1em;
  border-radius: 40% 70% / 7% 90%;
  background: linear-gradient(#8242be, #93e0ee);
  border: 0.5px solid #96d1ec;
  z-index: 0;
  transition: width 0.8s ease, height 0.8s ease;
}

.two {
  transform: rotate(90deg);
}

.three {
  transform: rotate(270deg);
}

.four {
  transform: rotate(180deg);
}

.btn:hover .petal {
  background: linear-gradient(#8b07d7, #93bdee);
  border: 0.5px solid #96b4ec;
}

.btn:hover .flower {
  grid-template-columns: 1.5em 1.5em;
}

.btn:hover .flower .petal {
  width: 1.5em;
  height: 1.5em;
}

.btn:hover .text {
  background: rgba(255, 255, 255, 0.4);
}

.btn:hover div.flower1 {
  animation: 15s linear 0s normal none infinite running flower1;
}

@keyframes flower1 {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(365deg);
  }
}

.btn:hover div.flower2 {
  animation: 13s linear 1s normal none infinite running flower2;
}

@keyframes flower2 {
  0% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(-325deg);
  }
}

.btn:hover div.flower3 {
  animation: 16s linear 1s normal none infinite running flower3;
}

@keyframes flower3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn:hover div.flower4 {
  animation: 17s linear 1s normal none infinite running flower4;
}

@keyframes flower4 {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(375deg);
  }
}

.btn:hover div.flower5 {
  animation: 20s linear 1s normal none infinite running flower5;
}

@keyframes flower5 {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-335deg);
  }
}

.btn:hover div.flower6 {
  animation: 15s linear 1s normal none infinite running flower6;
}

@keyframes flower6 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(390deg);
  }
}

/* the end of flower effect
*/

/* Main form */
.form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 35px;
  background-color: #171717;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  transition: .4s ease-in-out;
}

.form:hover {
  margin-top: 20px;
  transform: scale(1.05);
  border: 1px black;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);

}

#heading {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}


.field {
  display: flex;
  align-items: center;
  background: #1f2933;
  border-radius: 12px;
  padding: 12px;
}

.input-field {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
}

.input-field::placeholder {
  color: #9ca3af;
}

/* Button */
.button1 {
  background: #252525;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.button1:hover {
  background-color: black;
  color: white;
}

/* Bottom text */
.alt {
  color: #9ca3af;
  font-size: 13px;
  text-align: center;
}

.alt a {
  background: linear-gradient(#8b07d7, #93bdee);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: .7s ease-in-out;
}

.alt a:hover{
  font-size: large;
  
}